
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Css-->

    <style>
        .h-100vh {
            height: 100vh;
        }

        .shadow {
            box-shadow: 0px 0px 10px #000;
        }
    </style>

</head>
<body class="h-100 bg">
    <div class="container.fluid h-100">
        <div class="row align-items-center h-100vh">
            <div class="col-md-6 offset-md-3">
                <!--CARD-->
                <div id="card_login_container" class="" style="border: 1px solid #000; ;">
                    <!--shadow neden çalışmıyor-->
                    <div class="row">
                        <div class="col-md-6 pr-0">
                            <!-- PaddingRight =0 demek-->
                            <div id="card_login" class="card h-100">
                                <!-- CARD HEADER-->
                                <div class="card-header">
                                    <h4 class="card-title"> ÜYE OL</h4>
                                </div>
                                <!--CARD BODY-->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p id="card_info" class="card-text text-center text-muted">
                                                Bilgileri eksiksiz girdiğinize emin olun!
                                            </p><hr>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form method="post" action="KullaniciKayit" enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <!--her bir label tezt iklisini buunun içine koy hizalı olur-->
                                                    <label><b>E-Posta</b></label>
                                                    <input type="email" name="e_posta"
                                                           class="form-control"
                                                           placeholder="name@example.com" required>
                                                </div>

                                                <div class="form-group">
                                                    <!--her bir label tezt iklisini buunun içine koy hizalı olur-->
                                                    <label><b>Ad</b></label>
                                                    <input type="text" name="ad"
                                                           class="form-control" required>
                                                </div>

                                            

                                                <div class="form-group">
                                                    <!--her bir label tezt iklisini buunun içine koy hizalı olur-->
                                                    <label><b>Şifre</b></label>
                                                    <input type="password" name="sifre"
                                                           class="form-control" required>
                                                </div>



                                                <div class="form-group pull-right">
                                                    <button class="btn btn-primary" type="submit">
                                                        <span class="fa fa-lock"></span>&nbsp;&nbsp;Kayıt Ol
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--CARD FOOTER-->

                            </div>
                        </div>


                        <div class="col-md-6 pl-0 d-flex justify-content-center align-items-center">
                            <!-- PaddingLeft = 0 demek -->
                            <!-- CAROUSEL -->
                            <div>
                                <img class="d-block w-100 rounded" src="/Mehmet_akif_ersoy_university_logo.png" alt="Resim">
                                <div class="carousel-caption d-none d-md-block">
                                    <!-- İsteğe bağlı: İçeriğinizi buraya ekleyebilirsiniz -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>
</html>