@{
    ViewData["Title"] = "Ciftlik";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Css-->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/ciftlik.css">
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  

    <section id="home">
        <div class="row align-items-center">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="/Home/Index" class="text-decoration-none">
                  
                        <img src="/maku_logo.png" alt="Your Image" style="width: 500px; height: auto; top: 0; margin-bottom: 50px" class="mr-2">
                   
                </a>
            </div>
        </div>
        <div class="col-md-11 img-left-div">
            <div class="col-md-4">
                <div class="ciflik-img">
                    <img src="/a.jpg" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <p >

                    Burdur Mehmet Akif Ersoy Üniversitesi, MAKÜ Çiftliği markası altında faaliyet gösteren Tarım Hayvancılık ve Gıda Araştırmaları Uygulama ve Araştırma Merkezi bünyesindeki Süt İşleme ve Ar-Ge birimi, kaliteli ve doğal süt ürünleri üreterek bu ürünleri geniş bir müşteri kitlesiyle buluşturmaya devam etmektedir.

                    Süt İşleme ve Ar-Ge birimi, modern teknoloji ve geleneksel üretim yöntemlerini bir araya getirerek, sağlıklı ve lezzetli süt ürünleri elde etmek için özenle çalışmaktadır. Bu birimde üretilen ürünler, bölgenin doğal kaynaklarından elde edilen taze sütün değerini koruyarak, doğallığı ve besleyici özellikleriyle ön plana çıkar.

                    MAKÜ Çiftliği'nin süt işleme tesislerinde üretilen ürün yelpazesi, inek yoğurdu, pastörize inek sütü, manda sütü, manda yoğurdu, beyaz peynir ve kaymak gibi çeşitli alternatifleri içermektedir. Bu ürünler, hem yerel halkın ihtiyaçlarını karşılamak üzere hem de geniş tüketici kitlesiyle buluşmak adına özel bir özenle üretilmektedir.

                    MAKÜ Çiftliği, sadece ürün kalitesine değil, aynı zamanda çevre dostu tarım ve hayvancılık uygulamalarına verdiği önemle de öne çıkmaktadır. Sürdürülebilir tarım anlayışını benimseyen çiftlik, doğal kaynakları koruma ve çiftçilere destek sağlama hedefiyle çalışmalarını sürdürmektedir.

                    Bu sayede, Burdur Mehmet Akif Ersoy Üniversitesi, MAKÜ Çiftliği markası altındaki Süt İşleme ve Ar-Ge birimi, bölgesel kalkınmaya katkıda bulunarak sağlıklı ve doğal süt ürünleriyle müşterilerini buluşturmayı sürdürmektedir.
                </p>
            </div>
        </div>
        



        <div class="col-md-11 img-right-div">
            <div class="col-md-7 ">
                <p>
                MAKÜ Çiftliği satış mağazası, doğal ve taze süt ürünleriyle müşterilerine kaliteli bir alışveriş deneyimi sunmaktadır. Mağazada, özenle seçilmiş inek yoğurdu, pastörize inek sütü, manda sütü, manda yoğurdu, lezzetli beyaz peynir ve enfes kaymak gibi birbirinden sağlıklı ve lezzetli ürünleri bulabilirsiniz.

                İnek yoğurdu, sağlıklı probiyotik bakteriler içerirken aynı zamanda zengin bir kalsiyum kaynağıdır. Pastörize inek sütü, hijyenik bir şekilde işlenmiş olup taze sütün doğallığını ve besin değerini korur. Manda sütü, yoğun kıvamı ve benzersiz lezzetiyle dikkat çekerken, manda yoğurdu ise özel üretim yöntemleriyle hazırlanarak damak zevkinize hitap eder.

                MAKÜ Çiftliği'nin beyaz peyniri, geleneksel yöntemlerle üretilmiş olup kendine özgü lezzetiyle öne çıkar. Aynı şekilde, kaymak da çiftliğin taptaze sütünden özenle elde edilir, kremsi dokusuyla her dilimi bir ayrıcalıktır.

                Bu doğal ve besleyici ürünler, MAKÜ Çiftliği'nin kalite ve güvenilirliğiyle bir araya gelerek sofralarınıza taze ve sağlıklı bir lezzet sunmaktadır. Çiftlik, sadece ürünlerin kalitesine değil, aynı zamanda sürdürülebilir tarım ve hayvancılık uygulamalarına da öncelik vererek doğayla uyumlu bir üretim anlayışını benimsemektedir.
            </p>
            </div>
            <div class="col-md-4 right">
                <div class="ciflik-img">
                    <img src="/b.png" alt="">
                </div>
            </div>
        </div>

        <div class="col-md-11 img-left-div">
            <div class="col-md-4">
                <div class="ciflik-img">
                    <img src="/c.jpg" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <p>
                    MAKÜ Çiftliği, kaliteli ve doğal süt ürünleriyle Burdur halkına sağlıklı bir alternatif sunmaktadır. Uzman akademisyenlerin gözetiminde, çiftlikte yetiştirilen hayvanlardan elde edilen süt ve süt ürünleri, hijyenik koşullarda ve el değmeden üretilmektedir.

                    Bu lezzetli ürünler, ilk olarak MAKÜ İstiklal Yerleşkesi girişindeki mağazada satışa sunulmuştu. Şimdi ise, Burdur şehir merkezinde Pazar Mahallesi Veis Sokak’ta yer alan Taşoda Konağı’nda da sizleri bekliyor. Yüksek kalite standartlarına uygun olarak üretilen süt, yoğurt, peynir ve diğer süt ürünleri, Taşoda Konağı'nda sağlıkla buluşuyor.

                    Siz de bu eşsiz lezzetleri keşfetmek ve doğal ürünlerin tadını çıkarmak için Taşoda Konağı'na uğrayabilirsiniz. Sağlıklı yaşamın kapılarını aralamak için MAKÜ Çiftliği'nin özenle ürettiği süt ve süt ürünlerini deneyimleyin.
                </p>
            </div>
        </div>

    
    </section>

    <!--FOOTER SECTION STARTS-->
    <section id="footer" class="container-fluid">
        <div id="contents">
            <div class="col-md-5" id="logo">
                <a href="">
                    <img src="logo/maku_logo.png" alt="">
                </a>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis quidem odio, voluptates ratione minus recusandae optio aperiam laudantium earum aut consequuntur possimus dolorum libero placeat iste ea tempore ad consequatur.
            </div>
            <div class="col-md-2">
                <ul>
                    <li><a href="">giyim</a></li>
                    <li><a href="">çanta</a></li>
                    <li><a href="">aksesuar</a></li>
                    <li><a href="">hediyelik eşya</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <a href="ciftlik_urunleri.html">çiftlik ürünleri</a>
            </div>
            <div class="col-md-2">
                <a href="">hakkımızda</a>
            </div>
        </div>
        <hr>
        <div id="icons">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
        </div>
    </section>
    <!--FOOTER SECTION ENDS-->



    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--Script link-->
    <script src="script.js"></script>
</body>
</html>